@import 'home';
@import 'product';
@import 'dialog';
@import 'account';
@import 'login';
@import 'header';
@import 'register';

#app {
  background-color: #F1F5FC;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.hiddle {
  display: none;
}
