@import 'home';
@import 'product';
@import 'dialog';
@import 'account';
@import 'login';
@import 'header';
@import 'register';
@import 'panel/index';
@import 'table/boolean';
@import 'table/logic';

#app {
  background-color: #F1F5FC;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.overlay-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .2;
  z-index: 2;
}

@keyframes slowshow {
  from {opacity: 0; top: 0; transform: translateY(-100%);}
  to {opacity: 1;}
}

@keyframes slowhide {
  from {opacity: 1;}
  to {opacity: 0; top: 0; transform: translateY(-100%); display: none;}
}

