.function-table {
  > table {
    width: 1040px;
    margin: 0 auto;
    border: 1px #D6DEE6 solid;
    tr  {
      > :first-child {
        text-align: left;
      }
      > :last-child {
        text-align: right;
        & span {
          color: #469DFF;
          cursor: pointer;
        }
      }
    }
    td,th{
      text-align: center;
      p {
        position: relative;
        top: 5px;
      }
    }
    .definitions {
      top: 0;
      text-align: center;
      padding: 12px 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      > span {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        color: #11191c;
        border: 0;
        font-size: 14px;
        background-color: #f4f6f9;
        padding: 6px 8px;
        line-height: 20px;
      }
    }
  }
  .edit {
    display: flex;
    justify-content: center;
    align-items: center;
    .edit-box {
      position: absolute;
      top: 150px;
      z-index: 3;
      width: 549px;
      .panel-body {
        position: relative;
        max-height: 500px;
        overflow-y: auto;
        .status {
          border-radius: 4px;
          width: 509px;
          overflow: hidden;
          .edit-optional {
            display: flex;
            .edit-check {
              position: relative;
              left: 5px;
              padding-left: 10px;
              margin: 4px;
              width: 24px;
              height: 24px;
              background-color: #E0E0E0;
              border-radius: 4px;
              border: 1px #A6A6A6 solid;
              &.checking {
                &::before {
                  font-family: 'Glyphicons Halflings';
                  content: "\e013";
                  position: absolute;
                  top: 1px;
                  left: 4px;
                }
              }
            }
            &.must {
              .edit-header {
                &:before {
                  content: '*';
                  position: relative;
                  font-family: SimSun;
                  right: 4px;
                  color: #FF3333;
                }
              }
              .edit-check {
                opacity: .5;
              }
            }
            .edit-header {
              width: 476px;
              cursor: pointer;
              background-color: #f5f5f5;
              border: 1px#D6DEE6 solid;
              border-radius: 4px;
              padding: 5px 10px 5px 10px;
              display: flex;
              align-items: center;
              .header-radio {
                position: relative;
                left: -2px;
                margin: 0;
              }
              &:after {
                position: absolute;
                right: 65px;
                font-family: 'Glyphicons Halflings';
                content: "\e257";
              }
              &:hover {
                border: 1px #469dff solid;
              }
            }
          }
          .optional-more {
            display: none;
            width: 100%;
            height: auto;
            background-color: #fafafa;
          }
          &.unfold {
            border: 1px #D6DEE6 solid;
            .edit-header {
              width: 100%;
              border-radius: 4px 4px 0 0;
              border: 1px solid #f5f5f5;
              border-bottom: 1px solid #D6DEE6;
              &:after {
                position: absolute;
                right: 30px;
                font-family: 'Glyphicons Halflings';
                content: "\e259";
              }
            }
            .edit-check {
              display: none;
            }
            .optional-more {
              // border-radius: 0px 0px 4px 4px;
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              align-items: flex-start;
              > div {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                margin: 10px 0 10px 0;
                > div{
                  display: flex;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  align-items: center;
                  :first-child {
                    margin-right: 10px;
                  }
                  .form-control {
                    width: 45%;
                  }
                }
                &.customize {
                  display: flex;
                  align-items: flex-start;
                  .checkbox-list {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    > :first-child{
                      margin-left: 10px;
                    }
                    .disabled {
                      opacity: .5;
                    }
                  }
                }
                .add-btn {
                  background-color: #fafafa;
                  border: 0;
                }
              }
              > :nth-child(3) {
                tr {
                  height: 40px;
                  text-align: left;
                  margin-left: 0;
                  border-left: 0;
                }
                > :nth-child(3) {
                  border: 1px;
                  width: 40px;
                  th, td{
                    padding: 8px 0 8px 8px;
                    position: relative;
                    left: -2px;
                    border: 1px;
                    .close {
                      width: 22px;
                      height: 22px;
                      border: 1px #000 solid;
                      border-radius: 50px;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      background-color: #f0f0f0;
                      span {
                        font-size: 20px;
                      }
                    }
                  }
                  >:last-child {
                    >:last-child{
                      td {
                        padding: 16px 0 8px 8px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        > .btn-group {
          display: flex;
          justify-content: center;
          .btn-save {
            width: 80px;
          }
        }
        > div {
          margin-bottom: 15px;
        }
      }
    }
  }
}