.template {
  position: relative;
  top: 0px;
  > div {
    width: 1084px;
    margin: 70px auto 84px auto;
    > div {
      border: 1px #d6dee6 solid;
      border-radius: 4px;
      background: #ffffff;
    }
    .frame-header {
      width: 100%;
      border-bottom: 1px rgba(211, 222, 230, 0.6) solid;
      height: 43px;
      clear: both;
      margin: 0 auto;
      span {
        display: block;
        width: auto;
        height: 16px;
        margin: 13px 0 0 19px;
        font-size: 16px;
        float: left;
        color: #11191c;
      }
      div {
        float: right;
        margin: 8px 10px 0px 0px;
        button {
          border-radius: 4px;
          margin: 0;
          height: 24px;
          padding: 0 12px;
          font-size: 12px;
          line-height: 22px;
          border-width: 1px;
          color: #469DFF;
          border-style: solid;
          background-color: transparent;
          border-color: #469DFF;
          &:hover {
            color: #FFFFFF;
            background-color: #469DFF;
            border-color: #469DFF;
            text-decoration: none;
          }
        }
      }
    }
    >.panel-body {
      margin: 0 auto;
      border-radius: 4px;
      margin-top: 16px;
      overflow: hidden;
      padding-bottom: 20px;
      margin-bottom: 20px;
      user-select: none;
    }
  }
  .message {
    position: relative;
    height: 190px;
    .body {
      width: 1084px;
      clear: both;
      overflow: hidden;
      margin: 0 auto;
      img {
        display: block;
        width: 85px;
        height: 85px;
        float: left;
        margin: 30px 0 0 16px;
        border: 1px #ddd solid;
      }
      > :nth-child(2) {
        width: 318px;
        height: 85px;
        float: left;
        margin: 40px 0 0 18px;
        p {
          display: flex;
          align-items: center;
          padding: 0;
          margin: 0 0 5px 0;
          span {
            color: #ffb533;
            padding-right: 16px;
            font-size: 12px;
            :before {
              padding-right: 6px;
              position: relative;
              display: inline-block;
              font-style: normal;
              font-weight: lighter;
              font-size: 16px;
              font-family: 'Glyphicons Halflings';
              content: "\e023"
            }
            &.done { 
              :before {
                content: '\e089';
              }
            }
          }
        }
      }
      > :nth-child(3) {
        width: 600px;
        overflow: hidden;
        float: left;
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        > div {
          float: left;
          width: 33%;
          text-align: center;
          height: 55px;
          > :nth-child(1) {
            color: #c5c5c5;
            font-size: 12px;
            margin-bottom: 3px;
          }
          > :nth-child(2) {
            color: #8b8b8b;
            font-size: 14px;
            margin-bottom: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            cursor: default;
            position: relative;
          }
        }
      }
    }
  }
  .bottom-panel {
    position: fixed;
    width: 100%;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: #d8eafd;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    border-top: 1px LightBLue solid;
    button {
      margin-right: 35px;
    }
  }
  // button {
  //   overflow: hidden;
  //   &::after {
  //     content: '';
  //     z-index: -1;
  //     background-color: hsla(0, 0%, 100%, 0.2);
  //     position: absolute;
  //     top: -50%;
  //     bottom: -50%;
  //     width: 1.25em;
  //     transform: translate3d(-525%, 0, 0) rotate(35deg);
  //   }
  //   &:hover::after {
  //     transition: transform 0.45s ease-in-out;
  //     transform: translate3d(200%, 0, 0) rotate(35deg);
  //   }
  //   &:focus {
  //     outline: none;
  //   }
  // }
}