@import 'home';
@import 'offline';
@import 'drawer';
@import 'sweep';
@import 'components/popup-bottom';
@import 'components/swiper';

@font-face {
  font-family: 'RobotoThin';
  src: url('../font/RobotoThin.ttf');
}

.hidden {
  // display: none !important;
  opacity: 0;
}