@import 'home';
@import 'iconfont';
@import 'offline';
@import 'drawer';

#app {
  font-family: 'FZLTHJ';
  position: relative;
}

.hidden {
  // display: none !important;
  opacity: 0;
}
