@import 'home';
@import 'iconfont';
@import 'offline';
@import 'drawer';

@font-face {
  font-family: 'FZShaoEr';
  src: url('../../../public/static/font/FZShaoEr-M11S.woff');
}

#app {
  font-family: 'FZLTHJ';
  position: relative;
}

.hidden {
  // display: none !important;
  opacity: 0;
}
