.home-view {
  background-image: url(../img/bg_b.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.page-home {
  $headerHeight: 669px;
  position: relative !important;
  top: 0;
  background-color: transparent !important;
  // background: linear-gradient(rgb(75, 196, 248), rgb(0, 210, 255));
  .page-main {
    position: relative;
    top: 0;
    overflow: auto;
  }
  .tem-edit {
    position: relative;
    height: $headerHeight;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    .gree-icon {
      font-weight: bolder;
    }
    .tem-value {
      font-family: 'RobotoLight';
      margin: 0 70px;
      font-size: 264px;
    }
  }
}
.page-header {
  $pageHeaderHeight: 120px;
  position: relative;
  top: 0;
  width: 100%;
  height: $pageHeaderHeight;
  margin-bottom: 0;
  overflow: hidden;
  .gree-header-title {
    margin: 0 $pageHeaderHeight;
  }
  .gree-header-right {
    height: 100%;
    .save {
      font-size: 48px;
      line-height: 48px;
      color: #fff;
      font-weight: 500;
    }
  }
  .header-more {
    position: relative;
    right: 10px;
  }
  .header-pow {
    position: relative;
    right: 35px;
  }
}
.page-footer {
  $footerHeight: 160px;
  $footerPaddingTop: 30px;
  z-index: 100;
  position: absolute;
  bottom: 0;
  min-height: $footerHeight;
  max-height: $footerHeight;
  width: 100%;
  padding-top: $footerPaddingTop;
  display: flex;
  justify-content: space-between;
  background: #fff;
  border-top: 1px solid #f2f2f2;
  .item:first-child {
    margin-left: 50px;
  }
  .item:last-child {
    margin-right: 50px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 70px;
      height: 70px;
      padding-bottom: 8px;
    }
    span {
      font-size: 42px;
      margin-top: 2px;
    }
  }
}
