.home-view {
  position: relative;
  top: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}
.page-home {
  position: relative !important;
  top: 0;
  background-color: transparent !important;
  .page-main {
    position: relative;
    top: 0;
    overflow: auto;
  }
  .tem-edit {
    position: relative;
    height: $temEditHeight;
    width: 100%;
    color: #fff;
    > div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .power-on {
      .gree-icon {
        font-weight: bolder;
      }
      .tem-value {
        font-family: 'Roboto-Light';
        margin: 0 70px;
        font-size: 264px;
      }
    }
    .power-off {
      &-txt {
        font-size: 90px;
      }
    }
  }
}
.page-header {
  position: relative;
  top: 0;
  width: 100%;
  height: $pageHeaderHeight;
  margin-bottom: 0;
  z-index: 999;
  .gree-header-title {
    margin: 0 $pageHeaderHeight;
  }
  .gree-header-right {
    height: 100%;
    .save {
      font-size: 48px;
      line-height: 48px;
      color: #fff;
      font-weight: 500;
    }
  }
  .header-more {
    position: relative;
    right: 10px;
  }
  .header-pow {
    position: relative;
    right: 35px;
  }
}
