.home-view {
  position: relative;
  top: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  #blank-box {
    width: auto;
    height: auto;
    margin-top: calc(env(safe-area-inset-top));
  }

  .page-home {
    position: relative !important;
    left: 0;
    top: 0;
    background-color: transparent !important;
    .page-bg-mask {
      position: fixed;
      right: 0;
      height: 0;
      width: 100%;
      padding-top: 124px;
      top: -$pageHeaderHeight;
      z-index: 5;
    }
    .page-content {
      padding-top: 0 !important;
    }
    .page-main {
      position: relative;
      top: 0;
      // overflow: auto;
    }
  }
}
.page-header {
  position: relative;
  top: 0;
  margin-top: calc(env(safe-area-inset-top));
  width: 100%;
  height: $pageHeaderHeight;
  margin-bottom: 0;
  z-index: 999;
  .gree-header {
    top: 0 !important;
    &.-title {
      margin: 0 $pageHeaderHeight;
    }
    &.-right {
      height: 100%;
      .save {
        font-size: 48px;
        line-height: 48px;
        color: #fff;
        font-weight: 500;
      }
    }
  }
  .header-more {
    position: relative;
    right: 10px;
  }
  .header-pow {
    position: relative;
    right: 35px;
  }
}
