@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.woff?t=1594346743984') format('woff'),
  url('../iconfont/iconfont.ttf?t=1594346743984') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gaoji:before {
  content: "\e656";
}

.icon-jiankang:before {
  content: "\e657";
}

.icon-huanqi:before {
  content: "\e658";
}

.icon-huashuang:before {
  content: "\e659";
}

.icon-kaiguan:before {
  content: "\e65a";
}

.icon-ganzao:before {
  content: "\e65b";
}

.icon-moshi:before {
  content: "\e65c";
}

.icon-jieneng:before {
  content: "\e65d";
}

.icon-jiashi:before {
  content: "\e65e";
}

.icon-fure:before {
  content: "\e65f";
}

.icon-shineiwendu:before {
  content: "\e660";
}

.icon-quyusongfeng:before {
  content: "\e661";
}

.icon-jinzhichuiren:before {
  content: "\e662";
}

.icon-songfeng:before {
  content: "\e663";
}

.icon-yuyinjineng:before {
  content: "\e664";
}

.icon-shangxiasaofeng:before {
  content: "\e665";
}

.icon-yuyin:before {
  content: "\e666";
}

.icon-shuimian:before {
  content: "\e667";
}

.icon-xinfeng:before {
  content: "\e668";
}

.icon-xuanguang:before {
  content: "\e669";
}

.icon-youchufeng:before {
  content: "\e66a";
}

.icon-shangxiadingge:before {
  content: "\e66b";
}

.icon-yuyue:before {
  content: "\e66c";
}

.icon-zhire:before {
  content: "\e66d";
}

.icon-zhixiang:before {
  content: "\e66e";
}

.icon-zhileng:before {
  content: "\e66f";
}

.icon-zidong:before {
  content: "\e670";
}

.icon-zidongqingjie:before {
  content: "\e671";
}

.icon-zuochufeng:before {
  content: "\e672";
}

.icon-zuoyousaofeng:before {
  content: "\e673";
}

.icon-chushi:before {
  content: "\e674";
}

.icon-zhinengsongfeng:before {
  content: "\e675";
}

.icon-zuoyoudingge:before {
  content: "\e676";
}

.icon-fengsu:before {
  content: "\e677";
}

.icon-8duzhire:before {
  content: "\e678";
}

.icon-dianliangchaxun:before {
  content: "\e679";
}

.icon-dengguang:before {
  content: "\e67a";
}

.icon-zuoyouchufeng:before {
  content: "\e67b";
}

