@import 'home';
@import 'offline';
@import 'drawer';
@import 'sweep';
@import 'components/index';
@import 'page/index';

@font-face {
  font-family: 'RobotoThin';
  src: url('../font/RobotoThin.ttf');
}

@font-face {
  font-family: 'RobotoLight';
  src: url('../font/Roboto-Light.ttf');
}

#app { position: relative; }

.hidden {
  // display: none !important;
  opacity: 0;
}