@import 'home';
@import 'offline';
@import 'components/index';
@import 'page/index';

@font-face {
  font-family: 'RobotoThin';
  src: url('../font/RobotoThin.ttf');
}

.hidden {
  // display: none !important;
  opacity: 0;
}