.select-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-height: 510px;
  margin: 5px;
  overflow-y: scroll;
  img {
    height: 400px;
  }
  &.hold {
    background-color: CadetBlue;
  }
  &:hover {
    border: 1px CadetBlue solid;
  }
}