<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<device>
  <mid>10f04</mid>
  <version>1.3</version>
  <iconpath>/images/icon.png</iconpath>
  <iconpath2>/images/iconGroup.png</iconpath2>
  <statueJson>["Pow","Mod","TemUn","SetTem","Add0.5","Add0.1","PctCle"]</statueJson>
  <statueJson2>["SwUpDn","SwingLfRig","Health","SwhSlp","SlpMod","AssHt","Lig","WdSpd","Tur","Quiet","Pow","Mod","AppTimer","SetTem","Add0.1","Add0.5","PctCle"]</statueJson2>
  <moduleVer>1</moduleVer>
</device>
<device>
  <mid>11012</mid>
  <version>1.0</version>
  <iconpath>/images/icon.png</iconpath>
  <iconpath2>/images/iconGroup.png</iconpath2>
  <statueJson>["Pow","Mod","TemUn","SetTem","Add0.5"]</statueJson>
  <statueJson2>["Pow","SetTem","Add0.5","Mod","WdSpd","Tur","Quiet","UDFanPort","SwingLfRig","SmartWind","SwUpDn","Lig","SwhSlp","SlpMod","AppTimer"]</statueJson2>
  <moduleVer>1</moduleVer>
</device>
<device>
  <mid>11005</mid>
  <version>2.5</version>
  <iconpath>/images/icon.png</iconpath>
  <iconpath2>/images/iconGroup.png</iconpath2>
  <statueJson>["Pow","Mod","SetTem","WdSpd","Add0.5","Air","name","TemUn","TemRec"]</statueJson>
  <statueJson2>["Lig","UDFanPort","SwUpDn","SmartWind","SwingLfRig","SwhSlp","SlpMod","NobodySave","Air","WdSpd","Health","AppTimer","Tur","Quiet","Pow","Mod","Emod","SetTem","Add0.5"]</statueJson2>
  <moduleVer>1</moduleVer>
</device>