.enumerate-table {
  > table {
    width: 1040px;
    margin: 0 auto;
    border: 1px #D6DEE6 solid;
    tr {
      > :first-child {
        text-align: left;
      }
      > :last-child {
        text-align: right;
        & span {
          color: #469DFF;
          cursor: pointer;
        }
      }
      > :nth-child(1), > :nth-child(2), > :nth-child(3) {
        max-width: 100px !important;
        min-width: 100px !important;
      }
    }
    td,th{
      text-align: center;
      vertical-align: middle !important;
      p {
        cursor: pointer;
        position: relative;
        top: 5px;
        input {
          width: auto;
          color: #404657 !important;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(-50%);
        }
        &:hover {
          color: #469dff;
        }
      }
    }
  }
}