.eidtor {
  padding: 10px 0;
  width: 90%;
  .row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    > div {
      display: flex;
      align-items: center;
      // padding: 10px 40px;
    }
    .preview-json {
      height: 90%;
      width: 96%;
      display: flex;
      justify-content: center; 
      flex-wrap: wrap;
      border-radius: 6px;
      border: 1px solid LightSlateGray;
      > div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .json-label {
          cursor: pointer;
          background-image: linear-gradient(to left, PowDerBlue, rgb(137, 217, 228));
          border: 1px #00D0D0 solid;
          border-radius: 3px;
          padding: 4px 6px;
          margin: 5px 10px;
        }
      }
      .config-text {
        margin: 14px 0;
        display: flex;
        flex-wrap: wrap;
        width: 96%;
        font-size: 18px;
        word-break: break-all;
        line-height: 41px;
      }
    }
  }
  span {
    font-size: 18px;
    text-align: center;
  }
}
.text-box {
  position: relative;
  width: 96%;
  min-height: 70px;
  max-height: 1000px;
  margin-left: auto;  
  margin-right: auto; 
  outline: 0;  
  border: 1px solid #a0b3d6;  
  font-size: 16px;  
  line-height: 24px;  
  overflow: hidden;  
  background-color: rgb(40, 42, 54);
  border-color: #377850;  
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);  
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 10px;
  line-height: 40px;
  padding: 10px 40px;
  > :nth-child(2), > :nth-child(3) {
    padding-top: 10px;
  }
  .box-tip {
    position: absolute;
    left: 0;
    top: 0px;
    width: 100%;
    height: 19px;
    background-color: #191A21;
    border-bottom: 1px #377850 solid;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    line-height: 20px;
    .box-message {
      position: absolute;
      left: 22px;
      font-size: 14px;
      letter-spacing: 1px;
      color: Peru;
      &::before {
        font-family: 'Glyphicons Halflings';
        color: Peru;
        font-size: 10px;
        margin-right: 5px;
        content: '\e209';
      }
    }
    .box-btn {
      color: #7C7C7C !important;
      margin-right: 10px;
      z-index: 3;
      opacity: 1;
      text-shadow: none;
      display: flex;
      align-items: center;
      &:hover {
        color: #9C9C9C !important;
        cursor: pointer;
      }
      &.btn-restore {
        &::before {
          font-size: 15px;
          content: '\21BB';
          font-weight: 700;
        }
      }
      &.btn-copy {
        &::before {
          font-family: 'Glyphicons Halflings';
          font-size: 11px;
          content: '\e224';
          font-weight: 700;
        }
      }
      &.btn-close {
        &::before {
          font-size: 14px;
          content: '\2716';
        }
      }
    }
  }
  .json-content {
    font-size: 17px !important;
    text-align: left !important;
    color: rgb(80, 250, 123) !important;
    font-family: Consolas, "Courier New", monospace !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    display: block !important;
    overflow: hidden !important;
    outline: none;
    height: 100%;
    width: 100%;
  }
  .margin-view-overlays {
    position: absolute;
    width: 3.5%;
    height: 100%;
    left: 0;
    border-right: 1px rgba(139, 233, 253, 0.5) solid;
    .line-numbers {
      position: relative;
      width: 85%;
      height: 40px;
      color: #6272a4;
      text-align: right;
      white-space: nowrap;
      user-select: none;
    }
  }
}