.gr-transfer {
  margin: 15px 0px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;
  .gr-transfer-panel {
    position: relative;
    border: 2px solid #ebeef5;
    border-radius: 4px;
    overflow: hidden;
    max-height: 100%;
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    box-sizing: border-box;
    .gr-transfer-header {
      height: 40px;
      line-height: 40px;
      background: #f5f7fa;
      margin: 0;
      padding-left: 15px;
      border-bottom: 2px solid #ebeef5;
      box-sizing: border-box;
      color: #000;
      .gr-transfer-checkbox {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        cursor: pointer;
        .checkbox-text {
          font-size: 14px;
          padding-left: 8px;
        }
        .checkbox-number {
          font-size: 10px;
          position: absolute;
          float: right;
          right: 8px;
          color: #909399;
        }
      }
    }
    .gr-transfer-body {
      height: 264px;
      .gr-transfer-list {
        position: relative;
        margin: 0;
        list-style: none;
        height: 246px;
        overflow: auto;
        box-sizing: border-box;
        >canvas {
          position: absolute;
          top: 0;
        }
        .gr-transfer-item {
          position: relative;
          display: flex;
          width: 60%;
          justify-content: flex-start;
          align-items: center;
          padding-left: 15px;
          margin-bottom: 7px;
          border-color: #DCDFE6;
          color: #000;
          cursor: no-drop;
          &.able {
            cursor: pointer;
            &:hover {
              color: #409EFF;
              .checkbox-input {
                border-color: #409eff;
              }
            }
          }
          &.crowd {
            margin-bottom: 0;;
          }
          .checkbox-label {
            width: auto;
            max-width: 82px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            box-sizing: border-box;
            padding-left: 12px;
            line-height: 30px;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
  .gr-transfer-buttons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50px;
    height: 140px;
    .gr-transfer-button {
      background-color: #409EFF;
      border: 1px solid #409EFF;
      color: #fff;
      height: 25px;
      line-height: 0px;
      width: 100%;
      padding: 12px 20px;
      display: flex;
      justify-content: center;
      font-family: 'Glyphicons Halflings';
      &.disable {
        display: none;
        // opacity: .5;
        // cursor: no-drop;
      }
      .arrow-left {
        &:before {
          content: '\e257';
        }
      }
      .arrow-right {
        &:before {
          content: '\e258';
        }
      }
      .arrow-down {
        &:before {
          content: '\e259';
        }
      }
      .arrow-up {
        &:before {
          content: '\e260';
        }
      }
    }
  }
  .checkbox-input {
    height: 14px;
    width: 14px;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    border-radius: 3px;
    &.select {
      background-color: #409eff;
      border-color: #409eff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: #fff;
      &.select-all {
        &:before { 
          margin-top: 1px;
          content: '\2713';
        }
      }
      &.select-some {
        &:before { 
          content: '\2013';
        }
      }
    }
    &:hover {
      border-color: #409eff;
    }
  }
}